@use "../abstract/mixins";
@use "../abstract/variables";
.footer {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  
  &_list {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0;
    list-style: none;
  }
  
  &_listItem {
    display: flex;
    gap: 1rem;
  }
  
  &_img {
    max-width: 100px;
    aspect-ratio: 1 / 1.5;
  }
  
  &_subheader-othercontent {
    display: block;
    color: variables.$Soft-red;
    font-size: 2rem;
  }
  
  &_subheader {
    @include mixins.extra-bold;
    color: variables.$Very-dark-blue;
    font-size: 1.25rem;
  }
  
  &_paragraph {
    color: variables.$Dark-grayish-blue;
  }
  
}

